In [11]:
import numpy as np 
from sklearn.linear_model import LinearRegression# importa da biblioteca sklearn o modelo de regressao linear
import matplotlib.pyplot as plt
import pandas as pd

In [12]:
dados ={
    'Lojas':['A','B','C','D'],
    'Estoque': np.array([500,100,300,600]),
}

In [13]:
df_dados = pd.DataFrame(dados)

In [14]:

df_dados.head()

  Lojas  Estoque
0     A      500
1     B      100
2     C      300
3     D      600

In [15]:
vendas_2022 = {
    'Lojas':['A','B','C','D'],
    'Jan': [100, 80, 150, 50],
    'Fev': [120, 90, 170, 60],    'Mar': [150, 100, 200, 80],    'Abr': [180, 110, 230, 90],
    'Mai': [220, 190, 350, 200],
    'Jun': [230, 150, 280, 120],
    'Jul': [250, 170, 300, 140],
    'Ago': [260, 180, 310, 150],
    'Set': [240, 160, 290, 130],
    'Out': [220, 140, 270, 110],
    'Nov': [400, 220, 350, 190],
    'Dez': [300, 350, 400, 250]

    }

In [16]:
vendas_df = pd.DataFrame(vendas_2022)

In [17]:
vendas_df.head()

  Lojas  Jan  Fev  Mar  Abr  Mai  Jun  Jul  Ago  Set  Out  Nov  Dez
0     A  100  120  150  180  220  230  250  260  240  220  400  300
1     B   80   90  100  110  190  150  170  180  160  140  220  350
2     C  150  170  200  230  350  280  300  310  290  270  350  400
3     D   50   60   80   90  200  120  140  150  130  110  190  250

In [18]:
vendas_df_n = vendas_df.T

In [19]:
vendas_df_n.head()

         0    1    2   3
Lojas    A    B    C   D
Jan    100   80  150  50
Fev    120   90  170  60
Mar    150  100  200  80
Abr    180  110  230  90